html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('page4.JPG');
    background-size: cover;
    background-position: center;
    color: black;
}

.rocket-container {
    position: fixed;
    bottom: 0; 
    left: 50%;
    transform: rotate(-45deg);
}

.rocket {
    width: 360px; /* Adjust the width */
    height: auto;
    animation: rocketAnimation 5s linear forwards; /* Use forwards to retain the final state of the animation */
    transform-origin: bottom center; /* Set the rotation origin to the bottom center */
}


  

  .explorebutton {
        
        padding: 1.5em 2em;
        border: none;
        outline: none;
        color: white;
        background: none;
        background-color: black;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        left: 1100px;
        top: 600px;

  }

.explorebutton1 {
    border: none;
    background-color: black;
    text-align: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    
}


  
@keyframes rocketAnimation {
    0% {
        transform: translateY(-250%);
    }
    100% {
        transform: translateY(calc(100% - 350px)); /* Adjust this value based on rocket's height */
    }
}



.explorebutton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: explorebuttonani 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes explorebuttonani {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.explorebutton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


.logo {
  position: absolute;
  scale: 20%;
  bottom: 70%;
  left: 70%;
}